
body{
	font-family: 'Muli', sans-serif;
}

a:link {
	text-decoration: none;
	color:black;
}

a:visited {
	text-decoration: none;
	color:black;
}

a:hover {
	color:blue;
}

a:active {
	text-decoration: underline;
}

h1{
	text-align:center;
	padding:2%;
	margin-top:2%;
	font-size:2em;
}

footer{
	border:solid;
	height: 250px;
}

footer img{
	width:100px;
	margin:60px;
}
.bar{
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
}

.bar-li{

	background-color: #dddddd;
	text-align:center;
	display:block;
	float:left;
	width:15%;
	height:15%;
	padding: 4%;
	margin-left:5%;
	margin-right:5%;
}

.bar-ul {
	list-style-type: none;
	overflow:hidden;
	padding: 0;
}

#waterdrop{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#contentT{
	text-align: center;
}
#content{
	text-align:center;
	margin-bottom: 50px;
}

#content-picture{
	float:left;
	margin-left:20%;
	margin-right:5%;
	margin-bottom: 20px;
}

#content-text{
	text-align: left;
	margin-right:20%;
}

.container {
	position: relative;
	width: 30%;
	/*width: 300px;*/
    float:left; /* add this */
}

.image {
	display: block;
	width: 100%;
	height: auto;
	border-style: solid;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #a0c5e8;
	overflow:auto;
}

.container:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -30%);
	-ms-transform: translate(-30%, -30%);
	transform: translate(-50%, -20%);
	text-align: center;
}

.contaminants{
	width: 500px;
    border: 1px solid black;
    overflow: hidden;
    margin-left:30%;
    margin-right:30%;
}


#col-A{
	float:right;
	width:120px;
	margin-right:10px;
	margin-left:10px;
}
#col-B{
	float:right;
	width:110px;
	margin-right:10px;
	margin-left:10px;
}
#col-C{
	float:right;
	width:140px;
	margin-right:10px;
	margin-left:10px;
}
