
body{
	font-family: 'Muli', sans-serif;
	font-size:18px;
}

a:link {
	text-decoration: none;
	color:black;
}

a:visited {
	text-decoration: none;
	color:black;
}

a:hover {
	color:blue;
}

a:active {
	text-decoration: underline;
}

h1{
	text-align:center;
	padding:2%;
	margin-top:2%;
	font-size:3em;
}

h3{
	font-size:150%;
	text-align:center;
}

h4{
	font-weight: bold;
	font-size:115%;
}

footer{
	border:solid;
	height: 210px;
	clear:both;
	font-size:14px;
}

footer img{
	width:100px;
	margin:30px;
}

button {
	border: none;
	color: white;
	cursor: pointer;
	position: relative;
	width: 20%;
	border: 1px solid black;
	margin:2px;
}

button:hover {
  background-color:  #dddddd;
}

li{
	text-align:left;
}

/* Nav bar */
.bar{
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
}
.bar-li:hover{
	transition: .5s ease;
	background-color:#6fa8dc;
}
.bar-li{
	background-color: #dddddd;
	text-align:center;
	display:block;
	float:left;
	width:20%;
	height:120px;
	padding:3%;
	margin-left:3%;
	margin-right:3%;
}
.bar-ul {
	list-style-type: none;
	overflow:hidden;
	padding: 0;
}


#waterdrop{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:15%;
}

#content{
	text-align:left;
	margin-bottom: 50px;
	margin-right:10%;
	margin-left:10%;
}

#content-picture{
	float:left;
	margin-left:20%;
	margin-right:5%;
	margin-bottom: 20px;
}

.image {
	display: block;
	width: 100%;
	height: auto;
	border-style: solid;
}

/* Contaminants Page */
.contaminants{
	margin-left:10%;
	width:60%;
	float:left;

}
.current-contaminant{
	text-align:left;
	overflow:hidden;
}

/*Case Studies Page*/
#othersText{
	float:left;
}
.person{
	width:60%;
	margin-left:auto;
	margin-right:auto;
}
.person img{
	width:40%;
}

/*Organs in Why Water */
.organ{
	float:left;
	width:200px;
	margin-right:20px;
	margin-left:20px;
}
.organSection{
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

/*What's Your Water Quality Columns*/
.sectionsQuality{
	width:30%;
	text-align:center;
	float:left;
	margin-right:10%;
	margin-left:10%;
}
.sectionsQuality img{
	width:90%;
}
#quality-image{
	width:50%;
	padding-left:20%;
}

/*Water Solutions*/
.solutions-image{
	width:20%;
	margin-right:10%;
	float:left;
}
.solutions-text{
	overflow:hidden;
}

/* Footer */
#col-A{
	float:right;
	width:120px;
	margin-right:20px;
	margin-left:20px;
}
#col-B{
	float:right;
	width:150px;
	margin-right:20px;
	margin-left:20px;
}
#col-C{
	float:right;
	width:110px;
	margin-right:20px;
	margin-left:20px;
}
